<!DOCTYPE html>
<html>

<head th:replace="~{layoutBase :: head}">
</head>

<body>

  <div th:replace="~{layoutBase :: navbar}"></div>
  <div class="container">
    <h1 class="mb-3">Cadastrar Novo Docente</h1>
    <form action="#" th:object="${professor}" th:action="@{/addDoc}" method="post">
      
      <div th:replace="~{formBaseDoc :: form}"></div>
      
      <div class="col-12 mt-2">
        <button type="submit" class="btn btn-dark">Cadastrar</button>
      </div>
    </form>
  </div>

</body>

</html>