<!DOCTYPE html>
<html>


<head th:replace="~{layoutBase :: head}">
</head>

<body>


	<div th:replace="~{layoutBase :: navbar}"></div>
	
	<br>
	<br>
	<br>
	<center><a href="/home"><button class="btn btn-dark" style="height:200px;width:300px;background-color:rgb(0,139,139);font-size:30px">Cadastrar Sala</button></a> <a href="/homeDoc"><button class="btn btn-dark" style="height:200px;width:300px;background-color:rgb(0,139,139);font-size:30px">Cadastrar Docente</button></a></center>
	<br>
	<br>
	<center><a href="/homeCurso"><button class="btn btn-dark" style="height:200px;width:300px;background-color:rgb(0,139,139);font-size:30px">Cadastrar Curso</button></a> <a href="/homeAgenda"><button class="btn btn-dark" style="height:200px;width:300px;background-color:rgb(0,139,139);font-size:30px">Cadastrar Agendamento</button></a></center>
	
	</div>
	
</body>

</html>